<header class="header">
  <div class="header__container">
    <a class="logo" href="">
      <div class="logo__container">
        <p class="logo__text logo__text-first">LUXURY</p>
        <p class="logo__text logo__text-second">HOTELS</p>
      </div>
    </a>
    <ul class="header__list list">
      <li class="header__item">
        <p class="header__item-text header__item-text--current">Home</p>
      </li>
      <li class="header__item">
        <p class="header__item-text">Facilities</p>
      </li>
      <li class="header__item">
        <p class="header__item-text">Rooms</p>
      </li>
      <li class="header__item">
        <p class="header__item-text">Contact-us</p>
      </li>
    </ul>
  </div>
</header>
