<section class="section hero">
  <div class="hero__container">
    <div class="hero__title-container">
      <p class="hero__title-text hero__title-text--welcome">WELCOME TO</p>
      <h1 class="hero__title hero__title--main">LUXURY</h1>
      <h2 class="hero__title hero__title--second">HOTELS</h2>
      <p class="hero__title-text hero__title-text--info">
        Book your stay and enjoy Luxury redefined at the most affordable rates.
      </p>
    </div>
    <button type="button" class="hero__button">
      <svg class="hero__button-svg" width="28" height="26">
        <use href="/src/images/svg-sprite.svg#icon-booking"></use>
      </svg>
      BOOK NOW
    </button>
    <div class="scroll__container">
      <p class="scroll__text">Scroll</p>
      <button type="button" class="scroll__btn">
        <svg class="srcoll__svg" width="61" height="61">
          <use href="/src/images/svg-sprite.svg#icon-scroll"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
